<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultPath" value="C:\Users\Public" />
    <add key="DefaultFilename" value="data.json" />
    <add key="projectsUrl" value="http://dotnet.tvermose.it/projects.json" />
    <add key="projectsName" value="projects.json" />
    <add key="MethodName" value="Execute" />
  </appSettings>
</configuration>