<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DefaultPath" value="C:\Users\Public" />
    <add key="DefaultFilename" value="data.json" />
    <add key="projectsUrl" value="http://tvermose-test.azurewebsites.net/api/projects"/>
    <add key="projectsName" value="projects.json" />
    <add key="MethodName" value="Execute" />
  </appSettings>
</configuration>